﻿@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "~/Views/Backend/LoginLayout.cshtml";
}

<div class="ks-logo">EDIFY</div>

<div class="card panel panel-default light ks-panel ks-forgot-password">
    <div class="card-block">
        <form class="form-container" asp-action="ForgotPassword" method="post">
            <h4 class="ks-header">
                Forgot Password
                <span>Don't worry, this happens sometimes.</span>
            </h4>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <div class="input-icon icon-left icon-lg icon-color-primary">
                    <input asp-for="Email" type="text" class="form-control" placeholder="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <span class="icon-addon">
                        <span class="la la-at"></span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
            <div class="ks-text-center">
                <span class="text-muted">Remember It?</span> <a asp-controller="Account" asp-action="Login">Login</a>
            </div>
        </form>
    </div>
</div>
@**@
@*<h2>@ViewData["Title"]</h2>*@
@*<h4>Enter your email.</h4>*@
@*<hr />*@
@*<div class="row">*@
@*    <div class="col-md-4">*@
@*        <form asp-action="ForgotPassword" method="post">*@
@*            <div asp-validation-summary="All" class="text-danger"></div>*@
@*            <div class="form-group">*@
@*                <label asp-for="Email"></label>*@
@*                <input asp-for="Email" class="form-control" />*@
@*                <span asp-validation-for="Email" class="text-danger"></span>*@
@*            </div>*@
@*            <button type="submit" class="btn btn-default">Submit</button>*@
@*        </form>*@
@*    </div>*@
@*</div>*@
@**@
@*@section Scripts {*@
@*    @await Html.PartialAsync("_ValidationScriptsPartial")*@
@*}*@
