﻿@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Backend/LoginLayout.cshtml";
}


<div class="ks-logo">EDIFY</div>

<div class="card panel panel-default ks-light ks-panel ks-login">
    <div class="card-block">
        <form class="form-container" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <h4 class="ks-header">Login</h4>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <div class="input-icon icon-left icon-lg icon-color-primary">
                    <input asp-for="Email" type="text" class="form-control" placeholder="Email">
@*                    <span asp-validation-for="Email" class="text-danger"></span>*@
                    <span class="icon-addon">
                        <span class="la la-at"></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-icon icon-left icon-lg icon-color-primary">
                    <input asp-for="Password" type="password" class="form-control" placeholder="Password">
@*                    <span asp-validation-for="Password" class="text-danger"></span>*@
                    <span class="icon-addon">
                        <span class="la la-key"></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </div>
            <div class="ks-text-center">
                <a asp-controller="Account" asp-action="ForgotPassword">Forgot your password?</a>
            </div>

            <div class="ks-social">
                <div>or Log In with social</div>
                <div>
                    <a href="#" class="facebook la la-facebook"></a>
                    <a href="#" class="twitter la la-twitter"></a>
                    <a href="#" class="google la la-google"></a>
                </div>
            </div>
        </form>
    </div>
</div>


@**@
@**@
@*<h2>@ViewData["Title"]</h2>*@
@*<div class="row">*@
@*    <div class="col-md-4">*@
@*        <section>*@
@*            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">*@
@*                <h4>Use a local account to log in.</h4>*@
@*                <hr />*@
@*                <div asp-validation-summary="All" class="text-danger"></div>*@
@*                <div class="form-group">*@
@*                    <label asp-for="Email"></label>*@
@*                    <input asp-for="Email" class="form-control" />*@
@*                    <span asp-validation-for="Email" class="text-danger"></span>*@
@*                </div>*@
@*                <div class="form-group">*@
@*                    <label asp-for="Password"></label>*@
@*                    <input asp-for="Password" class="form-control" />*@
@*                    <span asp-validation-for="Password" class="text-danger"></span>*@
@*                </div>*@
@*                <div class="form-group">*@
@*                    <div class="checkbox">*@
@*                        <label asp-for="RememberMe">*@
@*                            <input asp-for="RememberMe" />*@
@*                            @Html.DisplayNameFor(m => m.RememberMe)*@
@*                        </label>*@
@*                    </div>*@
@*                </div>*@
@*                <div class="form-group">*@
@*                    <button type="submit" class="btn btn-default">Log in</button>*@
@*                </div>*@
@*                <div class="form-group">*@
@*                    <p>*@
@*                        <a asp-action="ForgotPassword">Forgot your password?</a>*@
@*                    </p>*@
@*                    <p>*@
@*                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>*@
@*                    </p>*@
@*                </div>*@
@*            </form>*@
@*        </section>*@
@*    </div>*@
@*    <div class="col-md-6 col-md-offset-2">*@
@*        <section>*@
@*            <h4>Use another service to log in.</h4>*@
@*            <hr />*@
@*            @{*@
@*                var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();*@
@*                if (loginProviders.Count == 0)*@
@*                {*@
@*                    <div>*@
@*                        <p>*@
@*                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>*@
@*                            for details on setting up this ASP.NET application to support logging in via external services.*@
@*                        </p>*@
@*                    </div>*@
@*                }*@
@*                else*@
@*                {*@
@*                    <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">*@
@*                        <div>*@
@*                            <p>*@
@*                                @foreach (var provider in loginProviders)*@
@*                                {*@
@*                                    <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>*@
@*                                }*@
@*                            </p>*@
@*                        </div>*@
@*                    </form>*@
@*                }*@
@*            }*@
@*        </section>*@
@*    </div>*@
@*</div>*@
@**@
@*@section Scripts {*@
@*    @await Html.PartialAsync("_ValidationScriptsPartial")*@
@*}*@
