﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<!-- BEGIN HEAD -->
<head>
    <meta charset="UTF-8">
    <title>KOSMO - Multi Purpose Bootstrap 4 Admin Template</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <environment include="Development">
        
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link rel="stylesheet" type="text/css" href="~/assets/backend/plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="~/assets/backend/fonts/line-awesome/css/line-awesome.min.css">
        <!--<link rel="stylesheet" type="text/css" href="assets/fonts/open-sans/styles.css">-->

        <link rel="stylesheet" type="text/css" href="~/assets/backend/fonts/montserrat/styles.css">

        <link rel="stylesheet" type="text/css" href="~/assets/backend/plugins/tether/css/tether.min.css">
        <link rel="stylesheet" type="text/css" href="~/assets/backend/plugins/jscrollpane/jquery.jscrollpane.css">
        <link rel="stylesheet" type="text/css" href="~/assets/backend/plugins/flag-icon-css/css/flag-icon.min.css">
        <link rel="stylesheet" type="text/css" href="~/assets/backend/css/common.min.css">
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN THEME STYLES -->
        <link rel="stylesheet" type="text/css" href="~/assets/backend/css/themes/info.min.css">
        <link class="ks-sidebar-dark-style" rel="stylesheet" type="text/css" href="~/assets/backend/css/themes/sidebar-black.min.css">
        <!-- END THEME STYLES -->

        <link rel="stylesheet" type="text/css" href="~/assets/backend/fonts/kosmo/styles.css">
        <link rel="stylesheet" type="text/css" href="~/assets/backend/fonts/weather/css/weather-icons.min.css">
        <link rel="stylesheet" type="text/css" href="~/assets/backend/plugins/c3js/c3.min.css">
        <link rel="stylesheet" type="text/css" href="~/assets/backend/plugins/noty/noty.css">
        <link rel="stylesheet" type="text/css" href="~/assets/backend/css/widgets/payment.min.css">
        <link rel="stylesheet" type="text/css" href="~/assets/backend/css/widgets/panels.min.css">
        <link rel="stylesheet" type="text/css" href="~/assets/backend/css/dashboard/tabbed-sidebar.min.css">

    </environment>

    
</head>
<!-- END HEAD -->

<body class="ks-navbar-fixed ks-sidebar-iconbar_compact ks-sidebar-position-fixed ks-page-header-fixed ks-theme-info ks-page-loading">
    <!-- remove ks-page-header-fixed to unfix header -->
    <!-- BEGIN HEADER -->
    <nav class="navbar ks-navbar">
        <!-- BEGIN HEADER INNER -->
        <!-- BEGIN LOGO -->
        <div href="index.html" class="navbar-brand">
            <!-- BEGIN RESPONSIVE SIDEBAR TOGGLER -->
            <a href="#" class="ks-sidebar-toggle"><i class="ks-icon la la-bars" aria-hidden="true"></i></a>
            <a href="#" class="ks-sidebar-mobile-toggle"><i class="ks-icon la la-bars" aria-hidden="true"></i></a>
            <!-- END RESPONSIVE SIDEBAR TOGGLER -->

            <div class="ks-navbar-logo">
                <a href="index.html" class="ks-logo">Kosmo</a>

                <!-- BEGIN GRID NAVIGATION -->
                <!--<span class="nav-item dropdown ks-dropdown-grid">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"></a>
                    <div class="dropdown-menu ks-primary ks-scrollable" aria-labelledby="Preview" data-height="260">
                        <div class="ks-scroll-wrapper">
                            <a href="#" class="ks-grid-item">
                                <span class="ks-icon la la-dashboard"></span>
                                <span class="ks-text">Dashboard</span>
                            </a>
                            <a href="#" class="ks-grid-item">
                                <span class="ks-icon la la-flask"></span>
                                <span class="ks-text">Projects</span>
                            </a>
                            <a href="#" class="ks-grid-item">
                                <span class="ks-icon la la-globe"></span>
                                <span class="ks-text">Form</span>
                            </a>
                            <a href="#" class="ks-grid-item">
                                <span class="ks-icon la la-calendar-o"></span>
                                <span class="ks-text">Calendar</span>
                            </a>
                            <a href="#" class="ks-grid-item">
                                <span class="ks-icon la la-ticket"></span>
                                <span class="ks-text">Tickets</span>
                            </a>
                            <a href="#" class="ks-grid-item">
                                <span class="ks-icon la la-dashboard"></span>
                                <span class="ks-text">Profile</span>
                            </a>
                            <a href="#" class="ks-grid-item">
                                <span class="ks-icon la la-dashboard"></span>
                                <span class="ks-text">Documentation</span>
                            </a>
                            <a href="#" class="ks-grid-item">
                                <span class="ks-icon la la-dashboard"></span>
                                <span class="ks-text">FAQ</span>
                            </a>
                            <a href="#" class="ks-grid-item">
                                <span class="ks-icon la la-dashboard"></span>
                                <span class="ks-text">Components</span>
                            </a>
                        </div>
                    </div>
                </span>-->

                <span class="nav-item dropdown ks-dropdown-grid-images">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"></a>
                    <div class="dropdown-menu ks-primary ks-scrollable" aria-labelledby="Preview" data-height="260">
                        <div class="ks-scroll-wrapper">
                            <a href="#" class="ks-grid-item">
                                <img class="ks-icon" src="assets/img/menu-grid/dashboard.png">
                                <span class="ks-text">Dashboard</span>
                            </a>
                            <a href="#" class="ks-grid-item">
                                <img class="ks-icon" src="assets/img/menu-grid/flask.png">
                                <span class="ks-text">Projects</span>
                            </a>
                            <a href="#" class="ks-grid-item">
                                <img class="ks-icon" src="assets/img/menu-grid/calendar.png">
                                <span class="ks-text">Calendar</span>
                            </a>
                            <a href="#" class="ks-grid-item">
                                <img class="ks-icon" src="assets/img/menu-grid/profile.png">
                                <span class="ks-text">Profile</span>
                            </a>
                            <a href="#" class="ks-grid-item">
                                <img class="ks-icon" src="assets/img/menu-grid/ticket.png">
                                <span class="ks-text">Tickets</span>
                            </a>
                            <a href="#" class="ks-grid-item">
                                <img class="ks-icon" src="assets/img/menu-grid/settings.png">
                                <span class="ks-text">Settings</span>
                            </a>
                        </div>
                    </div>
                </span>

                <!-- END GRID NAVIGATION -->
            </div>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN MENUS -->
        <div class="ks-wrapper">
            <nav class="nav navbar-nav">
                <!-- BEGIN NAVBAR MENU -->
                <div class="ks-navbar-menu">
                    <form class="ks-search-form">
                        <a class="ks-search-open" href="#">
                            <span class="la la-search"></span>
                        </a>
                        <div class="ks-wrapper">
                            <div class="input-icon icon-right icon icon-lg icon-color-primary">
                                <input id="input-group-icon-text" type="text" class="form-control" placeholder="Search...">
                                <span class="icon-addon">
                                    <span class="la la-search ks-icon"></span>
                                </span>
                            </div>
                            <a class="ks-search-close" href="#">
                                <span class="la la-close"></span>
                            </a>
                        </div>
                    </form>
                    <a class="nav-item nav-link" href="#">Dashboard</a>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu ks-primary" aria-labelledby="Preview">
                            <a class="dropdown-item ks-active" href="#">Dropdown Link 1</a>
                            <a class="dropdown-item" href="#">Dropdown Link 2</a>
                            <a class="dropdown-item" href="#">Dropdown Link 3</a>
                            <div class="dropdown-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    Dropdown
                                </a>
                                <div class="dropdown-menu" aria-labelledby="Preview">
                                    <a class="dropdown-item" href="#">Dropdown Link 1</a>
                                    <a class="dropdown-item" href="#">Dropdown Link 2</a>
                                    <a class="dropdown-item" href="#">Dropdown Link 3</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nav-item nav-link ks-btn-action">
                        <a class="btn btn-primary" href="https://themeforest.net/item/kosmo-multi-purpose-responsive-bootstrap-4-admin-template-ui-framework/19506620?ref=themesanytime">Buy Now!</a>
                    </div>
                </div>
                <!-- END NAVBAR MENU -->
                <!-- BEGIN NAVBAR ACTIONS -->
                <div class="ks-navbar-actions">
                    <!-- BEGIN NAVBAR ACTION BUTTON -->
                    <div class="nav-item nav-link btn-action-block">
                        <a class="btn btn-primary" href="#">
                            <span class="ks-action">Activate Your Account</span>
                            <span class="ks-description">trial ends in 1 day</span>
                        </a>
                    </div>
                    <!-- END NAVBAR ACTION BUTTON -->
                    <!-- BEGIN NAVBAR LANGUAGES -->
                    <div class="nav-item dropdown ks-languages">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            EN <span class="ks-text">Languages</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right ks-scrollable" aria-labelledby="Preview">
                            <div class="ks-wrapper">
                                <a href="#" class="ks-language ks-selected">
                                    <span class="flag-icon flag-icon-us ks-icon"></span>
                                    <span class="ks-text">English</span>
                                </a>
                                <a href="#" class="ks-language">
                                    <span class="flag-icon flag-icon-pl ks-icon"></span>
                                    <span class="ks-text">Polski</span>
                                </a>
                                <a href="#" class="ks-language">
                                    <span class="flag-icon flag-icon-de ks-icon"></span>
                                    <span class="ks-text">Deutsch</span>
                                </a>
                                <a href="#" class="ks-language">
                                    <span class="flag-icon flag-icon-lt ks-icon"></span>
                                    <span class="ks-text">Lietuvių</span>
                                </a>
                                <a href="#" class="ks-language">
                                    <span class="flag-icon flag-icon-fr ks-icon"></span>
                                    <span class="ks-text">Français</span>
                                </a>
                                <a href="#" class="ks-language">
                                    <span class="flag-icon flag-icon-by ks-icon"></span>
                                    <span class="ks-text">Беларуская</span>
                                </a>
                                <a href="#" class="ks-language">
                                    <span class="flag-icon flag-icon-it ks-icon"></span>
                                    <span class="ks-text">Italiano</span>
                                </a>
                                <a href="#" class="ks-language">
                                    <span class="flag-icon flag-icon-ua ks-icon"></span>
                                    <span class="ks-text">Українська</span>
                                </a>
                                <a href="#" class="ks-language">
                                    <span class="flag-icon flag-icon-es ks-icon"></span>
                                    <span class="ks-text">Español</span>
                                </a>
                                <a href="#" class="ks-language">
                                    <span class="flag-icon flag-icon-ru ks-icon"></span>
                                    <span class="ks-text">Русский</span>
                                </a>
                                <a href="#" class="ks-language">
                                    <span class="flag-icon flag-icon-cz ks-icon"></span>
                                    <span class="ks-text">Česky</span>
                                </a>
                                <a href="#" class="ks-language">
                                    <span class="flag-icon flag-icon-jp ks-icon"></span>
                                    <span class="ks-text">日本語</span>
                                </a>
                                <a href="#" class="ks-language">
                                    <span class="flag-icon flag-icon-cn ks-icon"></span>
                                    <span class="ks-text">中文</span>
                                </a>
                                <a href="#" class="ks-language">
                                    <span class="flag-icon flag-icon-tr ks-icon"></span>
                                    <span class="ks-text">Türkçe</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- END NAVBAR LANGUAGES -->
                    <!-- BEGIN NAVBAR MESSAGES -->
                    <div class="nav-item dropdown ks-messages">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="la la-envelope ks-icon" aria-hidden="true">
                                <span class="badge badge-pill badge-primary">3</span>
                            </span>
                            <span class="ks-text">Messages</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="Preview">
                            <section class="ks-tabs-actions">
                                <a href="#"><i class="la la-plus ks-icon"></i></a>
                                <a href="#"><i class="la la-search ks-icon"></i></a>
                            </section>
                            <ul class="nav nav-tabs ks-nav-tabs ks-primary" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#" data-toggle="tab" data-target="#ks-navbar-messages-inbox" role="tab">Inbox</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" data-toggle="tab" data-target="#ks-navbar-messages-sent" role="tab">Sent</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" data-toggle="tab" data-target="#ks-navbar-messages-archive" role="tab">Archive</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane ks-messages-tab active" id="ks-navbar-messages-inbox" role="tabpanel">
                                    <div class="ks-wrapper ks-scrollable">
                                        <a href="#" class="ks-message">
                                            <div class="ks-avatar ks-online">
                                                <img src="assets/img/avatars/avatar-1.jpg" width="36" height="36">
                                            </div>
                                            <div class="ks-info">
                                                <div class="ks-user-name">Emily Carter</div>
                                                <div class="ks-text">In golf, Danny Willett (pictured) wins the M...</div>
                                                <div class="ks-datetime">1 minute ago</div>
                                            </div>
                                        </a>
                                        <a href="#" class="ks-message">
                                            <div class="ks-avatar ks-online">
                                                <img src="assets/img/avatars/avatar-5.jpg" width="36" height="36">
                                            </div>
                                            <div class="ks-info">
                                                <div class="ks-user-name">Emily Carter</div>
                                                <div class="ks-text">In golf, Danny Willett (pictured) wins the M...</div>
                                                <div class="ks-datetime">1 minute ago</div>
                                            </div>
                                        </a>
                                        <a href="#" class="ks-message">
                                            <div class="ks-avatar ks-offline">
                                                <img src="assets/img/avatars/placeholders/ava-36.png" width="36" height="36">
                                            </div>
                                            <div class="ks-info">
                                                <div class="ks-user-name">Emily Carter</div>
                                                <div class="ks-text">In golf, Danny Willett (pictured) wins the M...</div>
                                                <div class="ks-datetime">1 minute ago</div>
                                            </div>
                                        </a>
                                        <a href="#" class="ks-message">
                                            <div class="ks-avatar ks-offline">
                                                <img src="assets/img/avatars/avatar-4.jpg" width="36" height="36">
                                            </div>
                                            <div class="ks-info">
                                                <div class="ks-user-name">Emily Carter</div>
                                                <div class="ks-text">In golf, Danny Willett (pictured) wins the M...</div>
                                                <div class="ks-datetime">1 minute ago</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="ks-view-all">
                                        <a href="#">View all</a>
                                    </div>
                                </div>
                                <div class="tab-pane ks-empty" id="ks-navbar-messages-sent" role="tabpanel">
                                    There are no messages.
                                </div>
                                <div class="tab-pane ks-empty" id="ks-navbar-messages-archive" role="tabpanel">
                                    There are no messages.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END NAVBAR MESSAGES -->
                    <!-- BEGIN NAVBAR NOTIFICATIONS -->
                    <div class="nav-item dropdown ks-notifications">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="la la-bell ks-icon" aria-hidden="true">
                                <span class="badge badge-pill badge-primary">7</span>
                            </span>
                            <span class="ks-text">Notifications</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="Preview">
                            <ul class="nav nav-tabs ks-nav-tabs ks-primary" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#" data-toggle="tab" data-target="#navbar-notifications-all" role="tab">All</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" data-toggle="tab" data-target="#navbar-notifications-activity" role="tab">Activity</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" data-toggle="tab" data-target="#navbar-notifications-comments" role="tab">Comments</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane ks-notifications-tab active" id="navbar-notifications-all" role="tabpanel">
                                    <div class="ks-wrapper ks-scrollable">
                                        <a href="#" class="ks-notification">
                                            <div class="ks-avatar">
                                                <img src="assets/img/avatars/avatar-3.jpg" width="36" height="36">
                                            </div>
                                            <div class="ks-info">
                                                <div class="ks-user-name">Emily Carter <span class="ks-description">has uploaded 1 file</span></div>
                                                <div class="ks-text"><span class="la la-file-text-o ks-icon"></span> logo vector doc</div>
                                                <div class="ks-datetime">1 minute ago</div>
                                            </div>
                                        </a>
                                        <a href="#" class="ks-notification">
                                            <div class="ks-action">
                                                <span class="ks-default">
                                                    <span class="la la-briefcase ks-icon"></span>
                                                </span>
                                            </div>
                                            <div class="ks-info">
                                                <div class="ks-user-name">New project created</div>
                                                <div class="ks-text">Dashboard UI</div>
                                                <div class="ks-datetime">1 minute ago</div>
                                            </div>
                                        </a>
                                        <a href="#" class="ks-notification">
                                            <div class="ks-action">
                                                <span class="ks-error">
                                                    <span class="la la-times-circle ks-icon"></span>
                                                </span>
                                            </div>
                                            <div class="ks-info">
                                                <div class="ks-user-name">File upload error</div>
                                                <div class="ks-text"><span class="la la-file-text-o ks-icon"></span> logo vector doc</div>
                                                <div class="ks-datetime">10 minutes ago</div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="ks-view-all">
                                        <a href="#">Show more</a>
                                    </div>
                                </div>
                                <div class="tab-pane ks-empty" id="navbar-notifications-activity" role="tabpanel">
                                    There are no activities.
                                </div>
                                <div class="tab-pane ks-empty" id="navbar-notifications-comments" role="tabpanel">
                                    There are no comments.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END NAVBAR NOTIFICATIONS -->
                    <!-- BEGIN NAVBAR USER -->
                    <div class="nav-item dropdown ks-user">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="ks-avatar">
                                <img src="assets/img/avatars/avatar-13.jpg" width="36" height="36">
                            </span>
                            <span class="ks-info">
                                <span class="ks-name">Robert Dean</span>
                                <span class="ks-description">Premium User</span>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="Preview">
                            <a class="dropdown-item" href="#">
                                <span class="la la-user ks-icon"></span>
                                <span>Profile</span>
                            </a>
                            <a class="dropdown-item" href="#">
                                <span class="la la-wrench ks-icon" aria-hidden="true"></span>
                                <span>Settings</span>
                            </a>
                            <a class="dropdown-item" href="#">
                                <span class="la la-question-circle ks-icon" aria-hidden="true"></span>
                                <span>Help</span>
                            </a>
                            <a class="dropdown-item" href="#">
                                <span class="la la-sign-out ks-icon" aria-hidden="true"></span>
                                <span>Logout</span>
                            </a>
                        </div>
                    </div>
                    <!-- END NAVBAR USER -->
                </div>
                <!-- END NAVBAR ACTIONS -->
            </nav>

            <!-- BEGIN NAVBAR ACTIONS TOGGLER -->
            <nav class="nav navbar-nav ks-navbar-actions-toggle">
                <a class="nav-item nav-link" href="#">
                    <span class="la la-ellipsis-h ks-icon ks-open"></span>
                    <span class="la la-close ks-icon ks-close"></span>
                </a>
            </nav>
            <!-- END NAVBAR ACTIONS TOGGLER -->
            <!-- BEGIN NAVBAR MENU TOGGLER -->
            <nav class="nav navbar-nav ks-navbar-menu-toggle">
                <a class="nav-item nav-link" href="#">
                    <span class="la la-th ks-icon ks-open"></span>
                    <span class="la la-close ks-icon ks-close"></span>
                </a>
            </nav>
            <!-- END NAVBAR MENU TOGGLER -->
        </div>
        <!-- END MENUS -->
        <!-- END HEADER INNER -->
    </nav>
    <!-- END HEADER -->


        



    <div class="ks-page-container ks-dashboard-tabbed-sidebar-fixed-tabs">







        <!-- BEGIN ICONBAR COMPACT SIDEBAR -->
        <div class="ks-column ks-sidebar ks-primary ks-iconbar-compact">
            <div class="ks-wrapper ks-sidebar-wrapper">
                <ul class="nav nav-pills nav-stacked">
                    <li class="nav-item ks-user-item">
                        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <img src="assets/img/avatars/ava-4.png" width="36" height="36" class="rounded-circle">
                            <span class="ks-name">School Admin</span>
                            <span class="ks-description">Admin User</span>
                        </a>
                    </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="ks-text">Dashboard</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="index.html">Default</a>
                        <a class="dropdown-item" href="dashboards-mail.html">Mail</a>
                        <a class="dropdown-item" href="dashboards-projects.html">Projects</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="ks-text">Student</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-controller="Backend" asp-action="StudentAdmission">Student Admission</a>
                        <a class="dropdown-item" href="dashboards-mail.html">Student List</a>
                        <a class="dropdown-item" href="dashboards-projects.html">Attendance</a>
                    </div>
                </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="ks-text">Classes and Sections</span>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="../sidebar_iconbar_compact-info/index.html">Default</a>
                            <a asp-controller="Home" asp-action="Classes" class="dropdown-item">Classes</a>
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span>Sidebar</span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="../sidebar_compact-info/index.html" target="_blank">Classes</a>
                                    <a class="dropdown-item" href="../sidebar_iconbar-info/index.html" target="_blank">Sections</a>
                                    <a class="dropdown-item" href="../sidebar_iconbar_compact-info/index.html" target="_blank">Section Incharge Allocation</a>
                                </div>
                            </div>
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span>Subjects</span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="../horizontal_navbar-info/index.html" target="_blank">Subjects</a>
                                    <a class="dropdown-item" href="../horizontal_navbar_iconbar-info/index.html" target="_blank">Assign Subjects to Classes</a>
                                    <a class="dropdown-item" href="../horizontal_navbar_iconbar-info/index.html" target="_blank">Assign Subjects to Teachers</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <span>Timetable</span>
                        </a>
                        <div class="dropdown-menu">
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span>Projects</span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="projects-kanban-board.html">Make New TimeTable</a>
                                    <a class="dropdown-item" href="projects-grid-board.html">Section Wise TimeTable</a>
                                    <a class="dropdown-item" href="projects-tasks.html">Teacher Wise TimeTable</a>
                                    <a class="dropdown-item" href="projects-task.html">TimeTable Lists</a>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-menu">
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span>Mail</span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="mail-empty.html">Mail Empty</a>
                                    <a class="dropdown-item" href="mail-view.html">Mail View</a>
                                    <a class="dropdown-item" href="mail-create.html">Mail Create</a>
                                    <a class="dropdown-item" href="mail-compact.html">Mail Compact</a>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-menu">
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span>Tickets</span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="tickets-empty.html">Empty</a>
                                    <a class="dropdown-item" href="tickets-list.html">List</a>
                                    <a class="dropdown-item" href="tickets-create.html">Create</a>
                                    <a class="dropdown-item" href="tickets-view.html">View</a>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-menu">
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span>Messenger</span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="messenger.html">Default</a>
                                    <a class="dropdown-item" href="messenger-group.html">Group</a>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-menu">
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span>File Manager</span>
                                </a>
                                <div class="dropdown-menu">
                                    <div class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                            <span>Grid</span>
                                        </a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="filemanager-grid.html">Default</a>
                                            <a class="dropdown-item" href="filemanager-grid-selected-items.html">Selected Items</a>
                                            <a class="dropdown-item" href="filemanager-grid-image.html">Image</a>
                                            <a class="dropdown-item" href="filemanager-grid-audio.html">Audio</a>
                                            <a class="dropdown-item" href="filemanager-grid-recent.html">Recent</a>
                                        </div>
                                    </div>
                                    <div class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                            <span>List</span>
                                        </a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="filemanager-list.html">Default</a>
                                            <a class="dropdown-item" href="filemanager-list-selected-items.html">Selected Items</a>
                                            <a class="dropdown-item" href="filemanager-list-recent.html">Recent</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-menu">
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span>Document Viewer</span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="document-viewer-image.html">Image Viewer</a>
                                    <a class="dropdown-item" href="document-viewer-pdf.html">Pdf Viewer</a>
                                    <a class="dropdown-item" href="document-viewer-presentation.html">Presentation Viewer</a>
                                    <a class="dropdown-item" href="document-viewer-audio.html">Audio Viewer</a>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="calendar.html">Calendar</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <span>Form</span>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="form-basic-inputs.html">Basic Inputs</a>
                            <a class="dropdown-item" href="form-advanced-inputs.html">Extended Inputs</a>
                            <a class="dropdown-item" href="form-buttons.html">Buttons</a>
                            <a class="dropdown-item" href="form-validation.html">Validation</a>
                            <a class="dropdown-item" href="form-touchspin.html">Touchspin</a>
                            <a class="dropdown-item" href="form-flex-labels.html">Flex Labels</a>
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span>Steps</span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="form-steps-column.html">Column Steps</a>
                                    <a class="dropdown-item" href="form-steps-progress.html">Progress Steps</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <span>UI Kit</span>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="uikit-bootstrap-ui.html">Bootstrap UI</a>
                            <a class="dropdown-item" href="uikit-typography.html">Typography</a>
                            <a class="dropdown-item" href="uikit-panels.html">Panels</a>
                            <a class="dropdown-item" href="uikit-tables.html">Tables</a>
                            <a class="dropdown-item" href="uikit-tabs.html">Tabs</a>
                            <a class="dropdown-item" href="uikit-default-alerts.html">Alerts</a>
                            <a class="dropdown-item" href="uikit-pagination.html">Pagination</a>
                            <a class="dropdown-item" href="uikit-modal.html">Modal</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <span>Components</span>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="components-file-upload.html">File Upload</a>
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span>Select</span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="components-select-select2.html">Select2</a>
                                    <a class="dropdown-item" href="components-select-multi.html">Multi</a>
                                </div>
                            </div>
                            <a class="dropdown-item" href="components-sweetalert.html">SweetAlert</a>
                            <a class="dropdown-item" href="components-bootstrap-notify.html">Bootstrap Notify</a>
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span>DatePicker</span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="components-datepicker-flatpickr.html">Flatpickr</a>
                                    <a class="dropdown-item" href="components-datepicker-bootstrap-date-range-picker.html">Range DatePicker</a>
                                </div>
                            </div>
                            <a class="dropdown-item" href="components-ion-range-slider-flat-skin-basic.html">Ion Range Slider</a>
                            <a class="dropdown-item" href="components-nestable.html">Nestable</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <span>Profile</span>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="profile-social-profile.html">Social Profile</a>
                            <a class="dropdown-item" href="profile-customer-profile.html">Customer Profile</a>
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span>Settings</span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="profile-settings-general.html">General</a>
                                    <a class="dropdown-item" href="profile-settings-contact-info.html">Contact Info</a>
                                    <a class="dropdown-item" href="profile-settings-experience.html">Experience</a>
                                    <a class="dropdown-item" href="profile-settings-education.html">Education</a>
                                    <a class="dropdown-item" href="profile-settings-organizations.html">Organizations</a>
                                    <a class="dropdown-item" href="profile-settings-notifications.html">Notifications</a>
                                    <a class="dropdown-item" href="profile-settings-billing.html">Billing</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <span>DataTables</span>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="datatables-datatables-net.html">DataTables.net</a>
                            <a class="dropdown-item" href="datatables-bootstrap-table.html">Bootstrap Table</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <span>Widgets</span>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="widgets-panels.html">Panels</a>
                            <a class="dropdown-item" href="widgets-upload.html">Upload</a>
                            <a class="dropdown-item" href="widgets-tables.html">Tables</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <span>Pages</span>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="pages-blank.html">Blank</a>
                            <a class="dropdown-item" href="pages-error404.html">Error 404</a>
                            <a class="dropdown-item" href="pages-error500.html">Error 500</a>
                            <a class="dropdown-item" href="pages-contacts.html">Contacts</a>
                            <a class="dropdown-item" href="pages-login.html" target="_blank">Login</a>
                            <a class="dropdown-item" href="pages-signup.html" target="_blank">Sign Up</a>
                            <a class="dropdown-item" href="pages-forgot-password.html" target="_blank">Forgot Password</a>
                            <a class="dropdown-item" href="pages-locked-account.html" target="_blank">Locked Account</a>
                            <a class="dropdown-item" href="pages-confirmation.html" target="_blank">Confirmation</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <span>Payment</span>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="payment-billing.html">Billing</a>
                            <a class="dropdown-item" href="payment-invoices.html">Invoices</a>
                            <a class="dropdown-item" href="payment-order.html">Order</a>
                            <a class="dropdown-item" href="payment-orders-history.html">Orders History</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <span>Pricing</span>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="pricing-plans.html">Plans</a>
                            <a class="dropdown-item" href="pricing-subscriptions.html">Subscriptions</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="email-templates.html">
                            <span>Email Templates</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="documentation.html">
                            <span>Documentation</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <span>FAQ</span>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="faq.html">Index</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- END ICONBAR COMPACT SIDEBAR -->


        <div class="ks-column ks-page">
        
            @RenderBody()
        
        </div>

        
    </div>

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/assets/backend/plugins/jquery/jquery.min.js"></script>
    <script src="~/assets/backend/plugins/popper/popper.min.js"></script>
    <script src="~/assets/backend/plugins/responsejs/response.min.js"></script>
    <script src="~/assets/backend/plugins/loading-overlay/loadingoverlay.min.js"></script>
    <script src="~/assets/backend/plugins/tether/js/tether.min.js"></script>
    <script src="~/assets/backend/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/backend/plugins/jscrollpane/jquery.jscrollpane.min.js"></script>
    <script src="~/assets/backend/plugins/jscrollpane/jquery.mousewheel.js"></script>
    <script src="~/assets/backend/plugins/flexibility/flexibility.js"></script>
    <script src="~/assets/backend/plugins/noty/noty.min.js"></script>
    <script src="~/assets/backend/plugins/velocity/velocity.min.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="~/assets/backend/js/common.min.js"></script>
    <!-- END THEME LAYOUT SCRIPTS -->

    <script src="~/assets/backend/plugins/d3/d3.min.js"></script>
    <script src="~/assets/backend/plugins/c3js/c3.min.js"></script>
    <script src="~/assets/backend/plugins/noty/noty.min.js"></script>
    <script src="~/assets/backend/plugins/maplace/maplace.min.js"></script>
    <script src="https://maps.google.com/maps/api/js?libraries=geometry&v=3.26&key=AIzaSyBBjLDxcCjc4s9ngpR11uwBWXRhyp3KPYM"></script>
    <script type="application/javascript">
        (function ($) {
            $(document).ready(function () {
                c3.generate({
                    bindto: '#ks-next-payout-chart',
                    data: {
                        columns: [
                            ['data1', 6, 5, 6, 5, 7, 8, 7]
                        ],
                        types: {
                            data1: 'area'
                        },
                        colors: {
                            data1: '#81c159'
                        }
                    },
                    legend: {
                        show: false
                    },
                    tooltip: {
                        show: false
                    },
                    point: {
                        show: false
                    },
                    axis: {
                        x: {show:false},
                        y: {show:false}
                    }
                });

                c3.generate({
                    bindto: '#ks-total-earning-chart',
                    data: {
                        columns: [
                            ['data1', 6, 5, 6, 5, 7, 8, 7]
                        ],
                        types: {
                            data1: 'area'
                        },
                        colors: {
                            data1: '#4e54a8'
                        }
                    },
                    legend: {
                        show: false
                    },
                    tooltip: {
                        show: false
                    },
                    point: {
                        show: false
                    },
                    axis: {
                        x: {show:false},
                        y: {show:false}
                    }
                });

                c3.generate({
                    bindto: '.ks-chart-orders-block',
                    data: {
                        columns: [
                            ['Revenue', 150, 200, 220, 280, 400, 160, 260, 400, 300, 400, 500, 420, 500, 300, 200, 100, 400, 600, 300, 360, 600],
                            ['Profit', 350, 300,  200, 140, 200, 30, 200, 100, 400, 600, 300, 200, 100, 50, 200, 600, 300, 500, 30, 200, 320]
                        ],
                        colors: {
                            'Revenue': '#f88528',
                            'Profit': '#81c159'
                        }
                    },
                    point: {
                        r: 5
                    },
                    grid: {
                        y: {
                            show: true
                        }
                    }
                });

                setTimeout(function () {
                    new Noty({
                        text: '<strong>Welcome to Kosmo Admin Template</strong>! <br> You successfully read this important alert message.',
                        type   : 'information',
                        theme  : 'mint',
                        layout : 'topRight',
                        timeout: 3000
                    }).show();
                }, 1500);

                var maplace = new Maplace({
                    map_div: '#ks-payment-widget-table-and-map-map',
                    controls_on_map: false
                });
                maplace.Load();
            });
        })(jQuery);
    </script>

    <div class="ks-mobile-overlay"></div>

    
</body>
</html>
