﻿
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from swlabs.co/edugate/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 08 May 2018 13:00:28 GMT -->
<head>
    <title>Edify | Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- LIBRARY FONT-->
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400italic,700,900,300">
    <link type="text/css" rel="stylesheet" href="~/assets/frontend/fonts/font-icon/font-awesome-4.4.0/css/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="~/assets/frontend/fonts/font-icon/font-svg/css/Glyphter.css">
    <!-- LIBRARY CSS-->
    <link type="text/css" rel="stylesheet" href="~/assets/frontend/plugins/animate/animate.css">
    <link type="text/css" rel="stylesheet" href="~/assets/frontend/plugins/bootstrap-3.3.5/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="~/assets/frontend/plugins/owl-carousel-2.0/assets/owl.carousel.css">
    <link type="text/css" rel="stylesheet" href="~/assets/frontend/plugins/selectbox/css/jquery.selectbox.css">
    <link type="text/css" rel="stylesheet" href="~/assets/frontend/plugins/fancybox/css/jquery.fancybox.css">
    <link type="text/css" rel="stylesheet" href="~/assets/frontend/plugins/fancybox/css/jquery.fancybox-buttons.css">
    <link type="text/css" rel="stylesheet" href="~/assets/frontend/plugins/media-element/build/mediaelementplayer.min.css">
    <!-- STYLE CSS    --><!--link(type="text/css", rel='stylesheet', href='~/assets/frontend/css/color-1.css', id="color-skins")-->
    <link type="text/css" rel="stylesheet" href="#" id="color-skins">
    <script src="~/assets/frontend/plugins/jquery/jquery-2.1.4.min.js"></script>
    <script src="~/assets/frontend/plugins/js-cookie/js.cookie.js"></script>
    <script>
        if ((Cookies.get('color-skin') != undefined) && (Cookies.get('color-skin') != 'color-1')) {
            $('#color-skins').attr('href', '../assets/frontend/css/' + Cookies.get('color-skin') + '.css');
        } else if ((Cookies.get('color-skin') == undefined) || (Cookies.get('color-skin') == 'color-1')) {
            $('#color-skins').attr('href', '../assets/frontend/css/color-1.css');
        }


    </script>
</head>
<body>
    <!-- HEADER-->
    <header>
        <div class="header-topbar">
            <div class="container">
                <div class="topbar-left pull-left">
                    <div class="email"><a href="#"><i class="topbar-icon fa fa-envelope-o"></i><span>hello.Edify@gmail.com</span></a></div>
                    <div class="hotline"><a href="#"><i class="topbar-icon fa fa-phone"></i><span>0900 78601</span></a></div>
                </div>
                <div class="topbar-right pull-right">
                    <div class="socials"><a href="#" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" class="google"><i class="fa fa-google-plus"></i></a><a href="#" class="twitter"><i class="fa fa-twitter"></i></a><a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a><a href="#" class="blog"><i class="fa fa-rss"></i></a><a href="#" class="dribbble"><i class="fa fa-dribbble"></i></a></div>
@*                    <div class="group-sign-in"><a asp-controller="Account" asp-action="Login" class="login">login</a><a asp-controller="Account" asp-action="Registration" class="register">register</a></div>*@
                </div>
            </div>
        </div>
        <div class="header-main homepage-01">
            <div class="container">
                <div class="header-main-wrapper">
                    <div class="navbar-heade">
                        <div class="logo pull-left"><a href="index-2.html" class="header-logo"><img src="~/assets/frontend/images/logo-color-1.png" alt="" /></a></div>
                        <button type="button" data-toggle="collapse" data-target=".navigation" class="navbar-toggle edugate-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    </div>
                    <nav class="navigation collapse navbar-collapse pull-right">
                        <ul class="nav-links nav navbar-nav">
                            <li>
                                <a asp-controller="Home" asp-action="FrontEnd" class="main-menu">Home</a>
                            </li>
                            <li>
                                <a asp-controller="Frontend" asp-action="Features" class="main-menu">Features</a>
                            </li>
                            <li>
                                <a asp-controller="Frontend" asp-action="ContactUs" class="main-menu">Contact Us</a>
                            </li>
                            <li>
                                <a asp-controller="Frontend" asp-action="AboutUs" class="main-menu">About Us</a>
                            </li>
                            <li>
                                <a asp-controller="Frontend" asp-action="Pricing" class="main-menu">Pricing</a>
                            </li>
                            <li class="button-search"><p class="main-menu"><i class="fa fa-search"></i></p></li>
                            <div class="nav-search hide">
                                <form>
                                    <input type="text" placeholder="Search" class="searchbox" />
                                    <button type="submit" class="searchbutton fa fa-search"></button>
                                </form>
                            </div>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- WRAPPER-->
    <div id="wrapper-content">
        <!-- PAGE WRAPPER-->
        <div id="page-wrapper">
            <!-- MAIN CONTENT-->
            @RenderBody()
        </div>
        <!-- BUTTON BACK TO TOP-->
        <div id="back-top"><a href="#top"><i class="fa fa-angle-double-up"></i></a></div>
    </div>


    <!-- FOOTER-->
    <footer>

        <div class="footer-main">
            <div class="container">
                <div class="footer-main-wrapper">
                    <div class="row">
                        <div class="col-2">
                            <div class="col-md-3 col-sm-6 col-xs-6 sd380">
                                <div class="edugate-widget widget">
                                    <div class="title-widget">EDIFY</div>
                                    <div class="content-widget">
                                        <p>Edify is a great software to manage all your Data of school online and maintain record safely.</p>

                                        <div class="info-list">
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-envelope-o"></i><a href="#">hello@edify.com</a></li>
                                                <li><i class="fa fa-phone"></i><a href="#">P: 0900 78601</a></li>
                                                <li>
                                                    <i class="fa fa-map-marker"></i><a href="#">
                                                        <p>57 - Lawrence Road, Jubilee Town, </p>

                                                        <p>Lahore</p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6 sd380">
                                <div class="useful-link-widget widget">
                                    <div class="title-widget">USEFUL LINKS</div>
                                    <div class="content-widget">
                                        <div class="useful-link-list">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-6">
                                                    <ul class="list-unstyled">
                                                        <li><i class="fa fa-angle-right"></i><a href="#">Teachers</a></li>
                                                        <li><i class="fa fa-angle-right"></i><a href="#">Courses</a></li>
                                                        <li><i class="fa fa-angle-right"></i><a href="#">Support</a></li>
                                                        <li><i class="fa fa-angle-right"></i><a href="#">Why Edify</a></li>
                                                        <li><i class="fa fa-angle-right"></i><a href="#">Social Media</a></li>
                                                        <li><i class="fa fa-angle-right"></i><a href="#">Site Map</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-6">
                                                    <ul class="list-unstyled">
                                                        <li><i class="fa fa-angle-right"></i><a href="#">Company</a></li>
                                                        <li><i class="fa fa-angle-right"></i><a href="#">Latest Courses</a></li>
                                                        <li><i class="fa fa-angle-right"></i><a href="#">Partners</a></li>
                                                        <li><i class="fa fa-angle-right"></i><a href="#">Blog Post</a></li>
                                                        <li><i class="fa fa-angle-right"></i><a href="#">Help Topic</a></li>
                                                        <li><i class="fa fa-angle-right"></i><a href="#">Policies</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="col-md-3 col-sm-6 col-xs-6 sd380">
                                <div class="gallery-widget widget">
                                    <div class="title-widget">GALLERY</div>
                                    <div class="content-widget">
                                        <div class="gallery-list">
                                            <a href="#" class="thumb"><img src="~/assets/frontend/images/gallery/gallery-01.jpg" alt="" class="img-responsive" /></a><a href="#" class="thumb"><img src="~/assets/frontend/images/gallery/gallery-02.jpg" alt="" class="img-responsive" /></a><a href="#" class="thumb"><img src="~/assets/frontend/images/gallery/gallery-03.jpg" alt="" class="img-responsive" /></a><a href="#" class="thumb"><img src="~/assets/frontend/images/gallery/gallery-04.jpg" alt="" class="img-responsive" /></a><a href="#" class="thumb"><img src="~/assets/frontend/images/gallery/gallery-05.jpg" alt="" class="img-responsive" /></a><a href="#" class="thumb"><img src="~/assets/frontend/images/gallery/gallery-06.jpg" alt="" class="img-responsive" /></a><a href="#" class="thumb"><img src="~/assets/frontend/images/gallery/gallery-07.jpg" alt="" class="img-responsive" /></a><a href="#" class="thumb">
                                                <img src="~/assets/frontend/images/gallery/gallery-08.jpg"
                                                     alt="" class="img-responsive" />
                                            </a>
                                        </div>
                                        <div class="clearfix"></div>
                                        <a href="#" class="view-more">View more&nbsp;<i class="fa fa-angle-double-right mls"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6 sd380">
                                <div class="mailing-widget widget">
                                    <div class="title-widget">MAILING</div>
                                    <div class="content-wiget">
                                        <p>Sign up for our mailing list to get latest updates and offers.</p>

                                        <form action="http://swlabs.co/edugate/index.html">
                                            <div class="input-group"><input type="text" placeholder="Email address" class="form-control form-email-widget" /><span class="input-group-btn"><input type="submit" value="✓" class="btn btn-email" /></span></div>
                                        </form>
                                        <p>We respect your privacy</p>

                                        <div class="socials"><a href="#" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" class="google"><i class="fa fa-google-plus"></i></a><a href="#" class="twitter"><i class="fa fa-twitter"></i></a><a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a><a href="#" class="blog"><i class="fa fa-rss"></i></a><a href="#" class="dribbble"><i class="fa fa-dribbble"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hyperlink">
                    <div class="pull-left hyper-left">
                        <ul class="list-inline">
                            <li>
                                <a asp-controller="Home" asp-action="FrontEnd" class="main-menu">Home</a>
                            </li>
                            <li>
                                <a asp-controller="Frontend" asp-action="Features" class="main-menu">Features</a>
                            </li>
                            <li>
                                <a asp-controller="Frontend" asp-action="ContactUs" class="main-menu">Contact Us</a>
                            </li>
                            <li>
                                <a asp-controller="Frontend" asp-action="AboutUs" class="main-menu">About Us</a>
                            </li>
                            <li>
                                <a asp-controller="Frontend" asp-action="Pricing" class="main-menu">Pricing</a>
                            </li>
                        </ul>
                    </div>
                    @*                    <div class="pull-right hyper-right">@ SWLABS</div>*@
                </div>
            </div>
        </div>
    </footer>


    <!-- LOADING-->
    <div class="body-2 loading">
        <div class="dots-loader"></div>
    </div>
    <!-- JAVASCRIPT LIBS-->
    <script>
        if ((Cookies.get('color-skin') != undefined) && (Cookies.get('color-skin') != 'color-1')) {
            $('.logo .header-logo img').attr('src', '../assets/frontend/images/logo-' + Cookies.get('color-skin') + '.png');
        } else if ((Cookies.get('color-skin') == undefined) || (Cookies.get('color-skin') == 'color-1')) {
            $('.logo .header-logo img').attr('src', '../assets/frontend/images/logo-color-1.png');
        }</script>
    <script src="~/assets/frontend/plugins/bootstrap-3.3.5/js/bootstrap.min.js"></script>
    <script src="~/assets/frontend/plugins/smooth-scroll/jquery-smoothscroll.js"></script>
    <script src="~/assets/frontend/plugins/owl-carousel-2.0/owl.carousel.min.js"></script>
    <script src="~/assets/frontend/plugins/appear/jquery.appear.js"></script>
    <script src="~/assets/frontend/plugins/count-to/jquery.countTo.js"></script>
    <script src="~/assets/frontend/plugins/wow-js/wow.min.js"></script>
    <script src="~/assets/frontend/plugins/selectbox/js/jquery.selectbox-0.2.min.js"></script>
    <script src="~/assets/frontend/plugins/fancybox/js/jquery.fancybox.js"></script>
    <script src="~/assets/frontend/plugins/fancybox/js/jquery.fancybox-buttons.js"></script>
    <!-- MAIN JS-->
    <script src="~/assets/frontend/js/main.js"></script>
    <!-- LOADING SCRIPTS FOR PAGE-->
    <script src="~/assets/frontend/plugins/isotope/isotope.pkgd.min.js"></script>
    <script src="~/assets/frontend/plugins/isotope/fit-columns.js"></script>
    <script src="~/assets/frontend/js/pages/homepage.js"></script>
</body>

<!-- Mirrored from swlabs.co/edugate/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 08 May 2018 13:01:53 GMT -->
</html>