﻿
@{
    ViewData["Title"] = "Features";
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}

<div class="main-content">
    <!-- CONTENT-->
    <div class="content">
        <div class="section background-opacity page-title set-height-top">
            <div class="container">
                <div class="page-title-wrapper">
                    <!--.page-title-content--><h2 class="captions">Features of Edify</h2>
                    <ol class="breadcrumb">
                        <li><a href="index-2.html">Home</a></li>
                        <li class="active"><a href="#">Features</a></li>
                    </ol>
                </div>
            </div>
        </div>
        
        <div class="section section-padding list-categories">
            <div class="container">
                <div class="list-categories-wrapper">
                    <div class="top-content">
                        <div class="result-output"><p class="result-count">Showing <strong>1-6</strong> of total <strong>12</strong> courses</p></div>
                    </div>
                    <div class="list-categories-content row">
                        <div class="customs-row">
                            <div class="col-md-4 col-sm-6">
                                <div class="edugate-layout-3">
                                    <div class="edugate-layout-3-wrapper">
                                        <a href="#" class="edugate-image"><img src="~/assets/frontend/images/categories/categories-1.jpg" alt="" class="img-responsive" /></a>

                                        <div class="edugate-content">
                                            <a href="#" class="title">language</a>

                                            <div class="description">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</div>
                                            <div class="total-courses"><i class="fa fa-list"></i><a href="#">total courses 92</a></div>
                                            <button class="btn btn-green"><span>all course</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="edugate-layout-3">
                                    <div class="edugate-layout-3-wrapper">
                                        <a href="#" class="edugate-image"><img src="~/assets/frontend/images/categories/categories-2.jpg" alt="" class="img-responsive" /></a>

                                        <div class="edugate-content">
                                            <a href="#" class="title">software</a>

                                            <div class="description">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</div>
                                            <div class="total-courses"><i class="fa fa-list"></i><a href="#">total courses 92</a></div>
                                            <button class="btn btn-green"><span>all course</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="edugate-layout-3">
                                    <div class="edugate-layout-3-wrapper">
                                        <a href="#" class="edugate-image"><img src="~/assets/frontend/images/categories/categories-3.jpg" alt="" class="img-responsive" /></a>

                                        <div class="edugate-content">
                                            <a href="#" class="title">social media</a>

                                            <div class="description">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</div>
                                            <div class="total-courses"><i class="fa fa-list"></i><a href="#">total courses 92</a></div>
                                            <button class="btn btn-green"><span>all course</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="customs-row">
                            <div class="col-md-4 col-sm-6">
                                <div class="edugate-layout-3">
                                    <div class="edugate-layout-3-wrapper">
                                        <a href="#" class="edugate-image"><img src="~/assets/frontend/images/categories/categories-4.jpg" alt="" class="img-responsive" /></a>

                                        <div class="edugate-content">
                                            <a href="#" class="title">photography</a>

                                            <div class="description">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</div>
                                            <div class="total-courses"><i class="fa fa-list"></i><a href="#">total courses 92</a></div>
                                            <button class="btn btn-green"><span>all course</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="edugate-layout-3">
                                    <div class="edugate-layout-3-wrapper">
                                        <a href="#" class="edugate-image"><img src="~/assets/frontend/images/categories/categories-5.jpg" alt="" class="img-responsive" /></a>

                                        <div class="edugate-content">
                                            <a href="#" class="title">business</a>

                                            <div class="description">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</div>
                                            <div class="total-courses"><i class="fa fa-list"></i><a href="#">total courses 92</a></div>
                                            <button class="btn btn-green"><span>all course</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="edugate-layout-3">
                                    <div class="edugate-layout-3-wrapper">
                                        <a href="#" class="edugate-image"><img src="~/assets/frontend/images/categories/categories-6.jpg" alt="" class="img-responsive" /></a>

                                        <div class="edugate-content">
                                            <a href="#" class="title">communication</a>

                                            <div class="description">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</div>
                                            <div class="total-courses"><i class="fa fa-list"></i><a href="#">total courses 92</a></div>
                                            <button class="btn btn-green"><span>all course</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <nav class="pagination col-md-12">
                            <ul class="pagination__list">
                                <li><a rel="prev" href="#" class="pagination__previous btn-squae disable">&#8249;</a></li>
                                <li><span class="pagination__page btn-squae active">1</span></li>
                                <li><a href="#" class="pagination__page btn-squae">2</a></li>
                                <li><a href="#" class="pagination__page btn-squae">...</a></li>
                                <li><a href="#" class="pagination__page btn-squae">14</a></li>
                                <li><a rel="next" href="#" class="pagination__next btn-squae">&#8250;</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

